
<%= #simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-group form-inputs">
    <%= f.label :content %>
    <%= f.input :password %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Save Tweet" %>
  </div>
<% end %>
